@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;

    @media screen and (max-width: 1200px) {
        font-size: 93.75%;
    }

    @media screen and (max-width: 900px) {
        font-size: 62.5%;
    }

    @media screen and (min-width: 1800px) {
        font-size: 110%;
    }
}

body {
    box-sizing: border-box;
}
