.cloud-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cloud {
    position: absolute;
    top: 20px;
    width: 200px;
}

.dice-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.dice {
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 20px;
}

button {
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}